%heading {
  font-family: 'Overpass', system-ui, sans-serif;
}

%body {
  font-family: 'Manrope', system-ui, sans-serif;
}

@supports (font-variation-settings: normal) {
  %heading {
    font-family: 'OverpassVariable', system-ui, sans-serif;
  }

  %body {
    font-family: 'ManropeVariable', system-ui, sans-serif;
  }
}
