@mixin gradient($variant) {
  @if $variant == 1 {
    @apply bg-gradient-to-br from-primary to-secondary;
  } @else if $variant == 2 {
    @apply bg-gradient-to-br from-secondary to-accent;
  } @else if $variant == 3 {
    @apply bg-gradient-to-br from-primary to-accent;
  } @else if $variant == 4 {
    @apply bg-gradient-to-br from-primary-content to-secondary-content;
  } @else if $variant == 5 {
    @apply bg-gradient-to-br from-secondary-content to-accent-content;
  } @else if $variant == 6 {
    @apply bg-gradient-to-br from-primary-content to-accent-content;
  } @else if $variant == 7 {
    @apply bg-gradient-to-br from-primary-focus to-secondary-focus;
  } @else if $variant == 8 {
    @apply bg-gradient-to-br from-secondary-focus to-accent-focus;
  } @else if $variant == 9 {
    @apply bg-gradient-to-br from-primary-focus to-accent-focus;
  }
}

@mixin text-gradient($variant) {
  @include gradient($variant);

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@for $i from 1 through 9 {
  %gradient-#{$i} {
    @include text-gradient($i);
  }

  %bg-gradient-#{$i} {
    @include gradient($i);
  }
}
