---
import BaseLayout from './base.astro'
import Icons from '../site/icons.astro'

import '@fontsource-variable/overpass'
import '~/styles/global.scss'
---

<BaseLayout>
  <Fragment slot="head">
    <Icons />
    <slot name="head" />
  </Fragment>
  <main class="container">
    <slot />
  </main>
</BaseLayout>
