---
import menu from '~/lib/menu'
import site from '~/lib/site'
import Icon from '~icons/mdi/menu'
---

<header class="header">
  <nav class="navbar bg-base-100 max-w-screen-xl mx-auto">
    <div class="flex-none">
      <label class="btn btn-ghost btn-square md:hidden" for="main-drawer">
        <Icon style={{ fontSize: '24px' }} />
      </label>
    </div>
    <div class="flex-1">
      <a href="/" class="title">{site.name}</a>
    </div>
    <div class="flex-none">
      <ul class="hidden md:menu md:menu-horizontal p-0">
        {
          menu.map((item) => (
            <li>
              <a href={item.link}>
                {item.icon && <span>{item.icon}</span>}
                <span>{item.title}</span>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</header>

<style lang="scss">
  @use '../../styles/fonts';

  .title {
    @extend %heading;
    @apply btn btn-ghost normal-case text-2xl font-bold;
  }

  .header {
    @apply fixed top-0 inset-x-0 z-[1];
  }
</style>
