---
import Drawer from './drawer.astro'
import Header from '../common/header'
import Footer from '../common/footer'
---

<Drawer>
  <Header slot="header" client:idle />
  <main class="__main">
    <slot />
  </main>
  <Footer />
</Drawer>

<style lang="scss">
  .__main {
    @apply min-h-screen;
  }
</style>
