---
import Drawer from './drawer.astro'
import Header from './header.astro'
---

<Drawer>
  <Header />
  <main>
    <slot />
  </main>
</Drawer>

<style lang="scss">
  main {
    @apply mt-[64px];
  }
</style>
