---
import BaseLayout from '~/layouts/base.astro'
import { SEO } from 'astro-seo'
import site from '~/components/site/site'
---

<BaseLayout>
  <SEO
    title={`${site.name} \u2014 ${site.slogan}`}
    description={site.description}
    slot="head"
  />
  <h1>reboot!</h1>
</BaseLayout>
