---
import BaseLayout from '~/layouts/base.astro'
import { SEO } from 'astro-seo'
import site from '~/components/site/site'

const title = 'Karya'
---

<BaseLayout>
  <SEO
    title={`${title} \u2014 ${site.name}`}
    description={site.description}
    slot="head"
  />
  <h1>projects!</h1>
</BaseLayout>
